*{
    padding: 0;
    margin: 0;
}
h1{
    color: rgb(225, 0, 255);
}

#caja1{
    width: 100px;
    height: 100px;
    background-color: rgb(228, 15, 15);
    border: 2px solid black;
    margin: 10px; /*es la separacion de lo que quieres!*/
}
#caja2{
    width: 100px;
    height: 100px;
    background-color: rgb(91, 52, 200);
    border: 2px solid black;
    margin: 10px;
}
#caja3{
    width: 100px;
    height: 100px;
    background-color: rgb(42, 165, 42);
    border: 2px solid black;
    margin: 10px;
}

.contenedor{
    display: flex;
    gap: 100px; /* para hacer espacio entre si!*/
    justify-content: space-around;
}